.singleBlog {
    min-height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    padding: 1rem 0.9rem;
    box-sizing: border-box;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
    transition: transform 220ms ease, box-shadow 220ms ease, background 220ms ease;
    background: linear-gradient(145deg, #ff7f57, #ff6a3b);
}

.singleBlog:hover {
    transform: translateY(-6px) scale(1.01);
    box-shadow: 0 14px 36px rgba(0, 0, 0, 0.26);
    background: linear-gradient(145deg, #ff8b66, #ff6f41);
}

.singleBlog--image {
    height: 50%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.singleBlog--image > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(1px);
    transform: scale(1.3);
}

.singleBlog:hover > .singleBlog--image > img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.singleBlog--body {
    width: 100%;
    padding: 0;
}

.singleBlog--body p {
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0.65rem;
}

.singleBlog--body h3 {
    font-family: var(--primaryFont);
    margin-bottom: 0.4rem;
    font-size: 19px;
    line-height: 115%;
}

.singleBlog--body h6 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    line-height: 139%;
    font-weight: 500;
    opacity: 0.9;
}



@media (min-width: 992px) and (max-width: 1380px) {
    .singleBlog {
        min-height: 200px;
        width: 240px;
    }
}


@media screen and (max-width: 992px) {
    .singleBlog {
        min-height: 200px;
        width: 90%;
        background-color: rgb(171, 240, 240);
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 800px) {
    .singleBlog {
        min-height: 200px;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 700px) {
    .singleBlog {
        min-height: 200px;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 600px) {
    .singleBlog {
        min-height: 200px;
        width: 260px;
        margin: 1rem 0;
    }
    .singleBlog--image > img {
        filter: blur(0);
    }
}

@media screen and (max-width: 320px) {
    .singleBlog {
        transform: scale(0.9);
    }

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}


@media only screen and (device-width: 768px) {

}
