.footer {
    font-family: var(--primaryFont), sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;

}

.footer p {
    margin: 0;
    font-weight: 500;
    font-family: var(--primaryFont);
    font-size: 16px;
    text-align: center;
    opacity: 50%;  
}
