.contacts {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.contacts--img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 280px;
    pointer-events: none;
}

.contacts--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 6rem 3rem;
    width: 80%;
    height: 100%;
    margin-top: 2rem;
}

.contacts--container > h1 {
    font-family: var(--primaryFont);
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.contacts-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.contacts-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
    flex: 1;
    box-sizing: border-box;
    padding-left: 0;
    margin-top: 0.5rem;
}

.personal-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.personal-details p {
    margin-left: 1.2rem;
    font-size: 18px;
    line-height: 110%;
    font-weight: 500;
    font-family: var(--primaryFont);
    width: auto;
    word-break: break-word;
}

@media (min-width: 992px) and (max-width: 1380px) {
    .contacts--img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 240px;
    }
    .contacts--container {
        padding: 2rem 4rem;
        width: 90%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .contacts--img {
        display: none;
    }
    .contacts--container {
        width: 100%;
        margin-top: 1rem;
    }
    .contacts--container > h1 {
        font-size: 3rem;
        margin: 0 0 1.2rem 0;
    }
    .contacts-details {
        padding-left: 2rem;
    }
    .personal-details p {
        margin-left: 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .contacts--container h1 {
        font-size: 2.8rem;
        margin-bottom: 24px;
    }
    .contacts--container {
        padding: 2rem;
        margin-top: 0rem;
        align-items: center;
    }
    .contacts-body {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts-details {
        padding: 1rem 0;
        align-items: flex-start;
        margin-top: 1rem;
        width: 100%;
    }
    .personal-details p {
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .contacts--container h1 {
        font-size: 2.4rem;
        margin-bottom: 16px;
    }
    .contacts--container {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .contacts-details {
        padding: 0;
        align-items: center;
    }
    .personal-details {
        justify-content: center;
    }
    .personal-details p {
        margin-left: 0.75rem;
        text-align: center;
    }
}
